{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div>
    <span>Bookmarks</span>
    {% if request.user.is_authenticated %}
      <ul>
	      <li {% if section == "dashboard" %}class="selected"{% endif %}>
		      <a href="{% url "dashboard" %}">My Dashboard</a>
	      </li>
	      <li {% if section == "images" %}class="selected"{% endif %}>
		      <a href="#">Images</a>
	      </li>
	      <li {% if section == "people" %}class="selected"{% endif %}>
			 <a href="#">People</a>
	      </li>
      </ul>
    {% endif %}
    <span>
	    {% if request.user.is_authenticated %}
	      Hello {{ request.user.first_name|default:request.user.username }},
	      <form action="{% url "logout" %}" method="post">
		      <button type="submit">Logout</button>
		      {% csrf_token %}
	      </form>
	    {% else %}
	      <a href="{% url "login" %}">Log-in</a>
	    {% endif %}
    </span>
  </div>
  <div>
	  {% block content %}
	  {% endblock %}
  </div>
</body>
</html>
          
			 

